/*Stylesheet by Emily Pettit, 2018*/

body {
  background-color: #331a00;
  font-size: 100%;
}

html, body, #map {
  height: 500px;
  width: 95%;
  margin: auto;
}

#map {
  z-index: 5;
}


#maptitle {
  text-align: center;
  height: auto;
  width: auto;
  color: #ff3300;
  z-index: 10;
  font-family: "Trebuchet", Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
}

#mapsubtitle {
  text-align: center;
  height: auto;
  width: auto;
  color: #ff5c33;
  z-index: 10;
  font-family: "Trebuchet", Helvetica, sans-serif;
}

p {
  text-align: center;
  color: #fff6d7;
}
