/*Stylesheet by Emily Pettit, 2018*/
h1 {
  color: grey;
  width: 30%;
  margin: 0 auto;
  height: 40px;
  text-align: center;
}
p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#map {
  height: 500px;
  width: 50%;
  margin: auto;
}

/* html, body, #Londonmap {
  height: 100%;
  width: 100%;
}
