/*Stylesheet by Emily Pettit, 2018*/
#map {
  height: 100%;
  width: 100%;
}

h1 {
  color: black;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/*html, body, #map {
  height: 100%;
  width: 100%;
}*/
